
html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    overscroll-behavior: none;
    padding: 1.6rem 0 0 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: hsl(0, 0%, 17%);
    background-color: lightblue;
    background-image: url('images/pattern-bg-mobile.png');
    background-repeat: no-repeat;
    background-position: top center;
}

.ip-tracker{
    margin: 0 auto;
    max-width: 330px;
    text-align: center;
}

h1{
    font-size: 25px;
    padding: 0;
    margin: 0 0 2rem 0;
    font-weight: 500;
    color: white;
}

.search-bar{
    margin-bottom: 1.2rem;
    text-align: start;
    display: flex;
    height: 60px;
}

#input-field{
    outline: none;
    padding: 0 0 0 1rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    border: none;
    background-color: white;
    width: 100%;
    border-radius: 15px 0 0 15px;
}

#input-field::placeholder{
    font-size: 13px;
}

#submit-button{
    /* removes blue overlay on submit button on mobile */
    -webkit-tap-highlight-color: transparent;
    background-color: black;
    border: none;
    padding: 0;
    margin: 0;
    aspect-ratio: 1;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}

#submit-button:active{
    background-color: hsl(0, 0%, 17%);
}

dl{
    padding: 0;
    margin: 0;
}

dt{
    padding: 0;
    margin: 0 0 0.5rem 0;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsl(0, 0%, 59%);
}

dd{
    padding: 0;
    margin: 0 0 1rem 0;
    font-size: 20px;
}

result-wrapper:last-of-type > dd{
    margin: 0;
}

.result-card{
    background-color: white;
    border-radius: 15px;
    padding: 1.4rem;
}

#map { height: 180px; }

.attribution {display:none; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media(min-width: 376px){
    body{
        background-image: url('images/pattern-bg-desktop.png');
    }
}

@media(min-width: 880px){
    h1{
        font-size:30px;
    }

    #input-field::placeholder{
        font-size: 18px;
    }

    .ip-tracker{
        max-width: 1000px;
        padding: 20px;
    }
    
    .search-bar{
        margin: 0 auto 2.5rem auto;
        max-width: 600px;
    }

    .result-card dl{
        padding: 1rem;
        display:flex
    }

    .result-wrapper{
        text-align: start;
        flex-basis: 400px;
        position: relative;
    }
    
    .result-wrapper:after{
        position:absolute;
        right: 1.2rem;
        top: 0;
        bottom: 0;
        margin: auto 0;
        display:block;

        content: '';
        border-right: solid 1px hsl(0, 0%, 79%);
    }

    dt{
        font-size: 12px;
    }

    dd{
        font-size: 24px;
        max-width: 170px;
        margin: 0;
    }

    .result-wrapper:last-of-type:after{
        border-right: none;
    }
}